.blog {
    padding: 50px 0 160px;
    background-image: url('../images/blog-bg.svg');
    background-repeat: no-repeat;
    background-position: center center;

    &__items {
        display: flex;
        justify-content: space-between;
        position: relative;

        &::after {
            content: '';
            background-image: url('../images/decor/blog-decor.svg');
            position: absolute;
            top: -30px;
            right: -20px;
            width: 126px;
            height: 53px;
            z-index: -1;
        }
    }

    &__item {
        max-width: 360px;
        border: 1px solid #ececec;
        transition: all .3s;

        &:hover {
            box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
            border: none;

            .blog__item-link {
                color: $accent;

                &::after {
                    background-image: url('../images/icons/arrow-blog-accent.svg');
                }
            }
        }
    }

    &__item-box {
        padding: 30px 40px;
    }

    &__item-imglink {
        display: block;

        img {
            height: 280px;
            object-fit: cover;
        }
    }

    &__item-info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__item-author,
    &__item-date {
        padding-left: 30px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            left: 0;
            top: 3px;
        }
    }

    &__item-author::before {
        background-image: url('../images/icons/user-gray.svg');
    }

    &__item-date::before {
        background-image: url('../images/icons/time.svg');
    }

    &__item-title {
        font-size: 22px;
        color: $title;
        @extend %roboto-400;
        margin-bottom: 20px;
    }

    &__item-link {
        position: relative;
        transition: all .3s;
    }

    &__item-link::after {
        content: '';
        background-image: url('../images/icons/arrow-blog.svg');
        position: absolute;
        width: 10px;
        height: 8px;
        right: -14px;
        top: 7px;
    }
}